<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>Editar Embarcação</h1>
      </div>
<%= render 'form', embarkation: @embarkation %>

</section>
</div>
<%= link_to 'Show', @embarkation %> |
<%= link_to 'Back', embarkations_path %>
