<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>Embarcações</h1>
      </div>
<%= render 'form', embarkation: @embarkation %>

</div>
</div>
</div>
<%= link_to 'Back', embarkations_path %>
</section>
</div>