<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>Embarcações</h1>
      </div>
      <div class="card-body">
        <%= render 'form', embarkation: @embarkation %>
      </div>


<%= link_to 'Back', embarkations_path %>
</section>
</div>