<div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index.html">SYNP Agentes</a>

            <%= link_to destroy_user_session_path, :method => :delete do %>
            <i class="bi bi-box-arrow-in-right"></i>

            <% end %>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="index.html">St</a>
          </div>
          <ul class="sidebar-menu">
              <li class="menu-header">Painel</li>
              <li class="nav-item dropdown active">
                <a href="/" class="nav-link "><i class="fas fa-fire"></i><span>Painel de Controlo</span></a>
                
              </li>
              <li class="menu-header">Embarcações</li>
              <li class="nav-item dropdown">
                <a href="/embarkations/" class="nav-link"><i class="fas fa-columns"></i> <span>Gerenciar Embarcações</span></a>
              </li>
              <li><a class="nav-link" href="/armadors/"><i class="far fa-square"></i> <span>Armadores</span></a></li>
              <li class="nav-item dropdown">
                <a href="/desembarkations" class="nav-link"><i class="fas fa-th"></i> <span>Aviso de Chegada</span></a>
              </li>
              <li class="menu-header">Configurações</li>
              <li class="nav-item dropdown">
                <a href="/agente/index" class="nav-link"><i class="fas fa-th-large"></i> <span>Agentes</span></a>
               
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link"><i class="far fa-file-alt"></i> <span>Sincronizar Dados</span></a>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link"><i class="fas fa-map-marker-alt"></i> <span>Notificações</span></a>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-plug"></i> <span>Modules</span></a>
              </li>
            </ul>

            <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
              <a href="#" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fas fa-rocket"></i> Suporte Técnico
              </a>
            </div>
        </aside>
    </div>